.chatMessages {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.chatMessages::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.chatInput {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.chatInput::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

input.chatInput::-webkit-input-placeholder {
  color: #0bf;
}

input.chatInput:-moz-placeholder {
  /* Firefox 18- */
  color: #0bf;
}

input.chatInput::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

input.chatInput:-ms-input-placeholder {
  color: #0bf;
}

input.chatInput::placeholder {
  color: #ffffff;
}
